<div class="layui-header">
    <div class="layui-logo">{:C('WEB_NAME')}</div>
    <ul class="layui-nav layui-layout-left" style='padding:0;'>
        <li class="layui-nav-item layui-bg-green"><a href="/" target="_blank"><span class='layui-icon'>&#xe68e;</span> 站点首页</a></li>
        <li class="layui-nav-item layui-bg-orange"><a href="{:U('Index/clear')}"><span class='layui-icon'>&#xe9aa;</span> 清除缓存</a></li>
        <if condition="auth($member,'Admin/Index/retdata')">
            <li class="layui-nav-item layui-bg-red"><a href="{:U('Index/retdata')}">重置数据</a></li>
        </if>
    </ul>
    <ul class="layui-nav layui-layout-right">
        <li class="layui-nav-item">
            <a href="javascript:;">
                <img src="{:U('Index/getFile',array('code'=>$member[headimg]),'')}" class="layui-nav-img">
                {$member.user}
            </a>
            <dl class="layui-nav-child">
                <dd><a href="{:U('Index/getmember')}" id='set_member_btn'>基本资料</a></dd>
                <dd><a href="{:U('Index/setpwd')}" id='set_password_btn'>修改密码</a></dd>
                <dd><a href="{:U('Index/login_out')}">退出登陆</a></dd>
            </dl>
        </li>
    </ul>
</div>
<script type="text/javascript">
    layui.use('form', function () {
        var layer = layui.layer, form = layui.form, $ = layui.jquery;
        $('#set_member_btn').click(function () {
            $_this = $(this);
            $.get($_this.attr('href'), function (data) {
                if (data.status === 0) {
                    layer.msg(data.info, {shade: [0.8, '#393D49'], shadeClose: true});
                } else {
                    layer.open({
                        title: '基本资料',
                        type: 1,
                        shade: [0.8, '#393D49'],
                        area: ['500px', '500px'],
                        content: data
                    });
                }
            });
            return false;
        });
        $('#set_password_btn').click(function () {
            $_this = $(this);
            $.get($_this.attr('href'), function (data) {
                layer.open({
                    title: '修改密码',
                    type: 1,
                    shade: [0.8, '#393D49'],
                    area: ['400px', '300px'],
                    content: data
                });
            });
            return false;
        });
    });
</script>