<section id="featured">
    <div id="main-slider" class="flexslider">
        <ul class="slides">
            <li>
                <a href="javascript:;"><img src="{$theme}/images/slides/slider4.jpg" alt="" /></a>
            </li>
            <li>
                <a href="javascript:;"><img src="{$theme}/images/slides/slider1.jpg" alt="" /></a>
            </li>
            <li>
                <a href="javascript:;"><img src="{$theme}/images/slides/slider2.jpg" alt="" /></a>
            </li>
            <li>
                <a href="javascript:;"><img src="{$theme}/images/slides/slider3.jpg" alt="" /></a>
            </li>
        </ul>
    </div>
</section>